body{
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue';
    font-size: 20px;
    margin: 0px;
}

div .title{
    display: flex;
    justify-content: center;
}

#q1 {
    height: 200px;
    margin-bottom: 35px;
}

#q2{
    margin-bottom: 35px;
}

#q3{
    height: 200px;
    margin-bottom: 35px;
}

#q4{
    display: flex;
}

.botao{
    background-color: #eeeeee;
    margin: 5px;
    padding: 5px;
}


@media screen and (max-width: 480px){
    
    #q3{
        background-color: #93c47d;
    }

    #q4{
        flex-direction: column;
    }

    .botao{
        text-align: center;
    }

    #texto h2{
        text-align: center;
    }
    #texto p{
        text-align: justify;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 1920px) {
    #q3-1{
        height: 100px;
        background-color: #93c47d;
    }
    #q3-2{
        height: 100px;
        background-color: #4a86e8;
    }

    #botoes {
        width: 40%;
        margin: 30px;
        padding-right: 20px;
    }

    #texto h2{
        text-align: center;
        margin-bottom: 50px;
    }


}

@media screen and  (min-width: 1921px)  {
    .q3{
        height: 40px;
    }
    #q3-1, #q3-4{
        background-color: #93c47d;
    }

    #q3-2, #q3-5{
        background-color: #4a86e8;
    }

    #q3-3{
        background-color: #b4a7d6;
    }

    #botoes {
        width: 40%;
        margin: 30px;
        padding-right: 20px;
    }

    #texto h2{
        text-align: center;
        margin-bottom: 50px;
    }

    #bandeira{
        background-image: url(./img/flag-brazil.webp);
        background-repeat: no-repeat, repeat;
        width: 30%;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
}

@media screen and (orientation: landscape) {
    #q2{
        height: 200px;
        background-color: black;
    }
}

@media screen and (max-width: 320px){
    #q1{
        background-color: black;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px){
    #q1{
        background-color: lightblue;
    }
}

@media screen and (min-width: 481px) and (max-width: 600px){
    #q1{
        background-color: lightgreen;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px){
    #q1{
        background-color: lightyellow;
    }
}

@media screen and (min-width: 769px) and (max-width: 800px){
    #q1{
        background-color: brown;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px){
    #q1{
        background-color: darkblue;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    #q1{
        background-color: darkgreen;
    }
}

@media screen and (min-width: 1281px){
    #q1{
        background-color: darkred;
    }
}


